<div class="container">
    <br>
   
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
  
        <div class="item active">
          <img src="assets\img\homes\IMG_20191010_083732.jpg" alt="Chania" width="600" height="345">
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <img src="assets\img\homes\IMG_20190728_115455.jpg" alt="Chania" width="600" height="345">
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <img src="assets\img\homes\IMG_20211107_194004.jpg" alt="Flower" width="600" height="345">
          <div class="carousel-caption">
            
          </div>
        </div>

        <div class="item">
            <img src="assets\img\homes\IMG_20210504_094336.jpg" alt="Flower" width="600" height="345">
            <div class="carousel-caption">
              
            </div>
          </div>

          <div class="item">
            <img src="assets\img\homes\IMG_20200117_113617.jpg" alt="Flower" width="600" height="345">
            <div class="carousel-caption">
              
            </div>
          </div>

          <div class="item">
            <img src="assets\img\homes\IMG_20211130_115707.jpg" alt="Flower" width="600" height="345">
            <div class="carousel-caption">
              
            </div>
          </div>

          <div class="item">
            <img src="assets\img\homes\IMG_20170719_194710.jpg" alt="Flower" width="600" height="345">
            <div class="carousel-caption">
              
            </div>
          </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="text-center">
        <h1><br></h1>
        <h1><br></h1>
        <h1><br></h1>
        <p aria-label="CodePen">
            <span data-text="A">A</span>
            <span data-text="B">B</span>
            <span data-text="O">O</span>
            <span data-text="U">U</span>
            <span data-text="T">T</span>
            <span data-text="M">M</span>
            <span data-text="E">E</span>
          </p>
    </div>
    <div class="mm">      
      <section>
      <div class="border">
            <img src="assets\img\homes\plakhotnik.jpg" alt="Nature">
          </div>
          </section>
          <div class="textt">

            Painting is my life and my great inspiration!!!!!<br><br>

My name is Nataliia.I'm self - taught artist.<br> Once I’ve felt  the desire to express my feelings, I began to paint pictures, I could not stop, my interest became more and more, I wanted to try different styles and techniques. I use different materials, trying to show and convey in my pictures all my feelings and emotions. I prefer to paint oil paintings, as oil gives a great sense of depth of color. In fact, everything depends on the specific state of the soul at the moment. Inspiration for me is the whole world that surrounds us reading and just Life.<br><br>
To be honest, it's hard for me to write what inspired me to write this or that picture, I think my works speak for themselves, they contain my soul, feelings and emotions. I try to spend time working on pictures (more than on their descriptions), so they express everything I think about .... and they could give joy happiness to others. 
          </div>
      </div>
      <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <h1 class="text-white y">News</h1>
      <br>
      <br>
      <br>
      <!--footer-->
      <ul class="cards">
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--fence">
            </div>
            <div class="card__content">
              <div class="card__title">Rising Market Stars Bring Christie’s Hong Kong Sales to Strong $184 M. Total</div>
              <div class="card__text">Records were set for 11 artists, including Scott Kahn, who far outpaced expectations. </div>
              <a href="https://www.artnews.com/art-news/news/christies-hong-kong-sales-may-2022-1234630221/"><button class="btn btn--block card__btn">Read more</button></a>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--river"></div>
            <div class="card__content">
              <div class="card__title">Ukrainian artists stage war crimes exhibition at Russia House in Davos for World Economic Forum</div>
              <div class="card__text">Show opens ahead of Ukrainian President Zelenksy's address at the global summit</div>
              <a href="https://www.theartnewspaper.com/2022/05/23/at-world-economic-forum-in-davos-ukrainian-artists-transform-empty-russia-house-into-an-exhibition-on-warcrimes">
                <button class="btn btn--block card__btn">Read more</button></a>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--record"></div>
            <div class="card__content">
              <div class="card__title">EXCAVATING ANCIENT EXPRESSIONS OF GENDER</div>
              <div class="card__text">An exhibition of Pompeian frescoes provides a window into how ancient Roman painters understood and represented gender.</div>
              <a href="https://www.artnews.com/art-in-america/features/excavating-ancient-expressions-gender-1234630220/">
              <button class="btn btn--block card__btn">Read more</button></a>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--flowers"></div>
            <div class="card__content">
              <div class="card__title">The Best Booths at Art Basel Hong Kong 2022, from Dazzling Large-Scale Installations to NFT Hype</div>
              <div class="card__text">The fair runs at the Hong Kong Convention and Exhibition Centre through Sunday.</div>
              <a href="https://www.artnews.com/list/art-news/artists/art-basel-hong-kong-2022-best-booths-1234630191/danh-vo-at-white-cube/">
              <button class="btn btn--block card__btn">Read more</button></a>
            </div>
          </div>
        </li>
      </ul>
      <!--/Modal-->
      <i id="openModal" #openModal data-toggle="modal" data-target="#deleteModal" class="fas fa-trash-alt" aria-hidden="true"></i>

      
      
    <!--/footer-->
    <button class="scroll_top"></button>
</div>
<app-footer></app-footer>
<div class="modal fade" id="deleteModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content bg-dark ">
      <div class="modal-header">
        <h1 class="modal-title  text-white" id="exampleModalLabel"><h1 class="modall_t">----Art gallery news Natali Plakhotnyk----</h1></h1>
        
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 style="text-align:center;" class="titl text-white bg-secondary text-shadow-2">New paint</h2>
        <div style="float:right;">
        <img class="col-md-4 iii div-shadow" src={{paint$.foto}} alt="">
        <h3 class="col-md-4 ms-auto titl text-white"><h2 class="titl text-shadow-2 text-white">{{paint$.name}}</h2>
       <h2 class="titl text-shadow-1 text-secondary">Style: {{paint$.style}}</h2>
       <h2 class="titl text-shadow-1 text-secondary">Theme: {{paint$.theme}}</h2>
      <h5 class="titl text-black text-shadow-0">See more on the page Paintings...</h5></h3>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-secondary text-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
